{
  "singleQuote": true,
  "tabWidth": 1,
  "semi": true,
  "trailingComma": "es5",
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "printWidth": 80,
  "jsxSingleQuote": true,
  "jsxBracketSameLine": false
}
